  <div class="container">
    <h2>Mirage test</h2>
  </div>
        <ul>
          <!--length of mrage test list  -->
          <li>{{model.contacts.data.length}}</li>
          <!--second mirage list  -->

          {{#each model as contacts}}
          <li>{{model.contacts.data.attributes.name}}</li>
          {{/each}}
        </ul>
        <li>{{model.contact2.data.attributes.age}}</li>
        <li>{{model.account2.data.attrubutes.name}}</li>

  <!--
          {{#each model as |contact|}}
          {{contact-tile contact=contact update="update" destroyContact="destroyContact"}}
          {{/each}}
        </ul>
        <br>
        {{new-contact saveContact2="saveContact3"}}
       -->
